src/main/mule/car-bookings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:google-sheets="http://www.mulesoft.org/schema/mule/google-sheets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-sheets http://www.mulesoft.org/schema/mule/google-sheets/current/mule-google-sheets.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="getCars" doc:id="ad3a8517-1771-429f-ac95-1af11a4a871f" >
		<http:listener doc:name="Listener" doc:id="df972c75-d891-48f4-ae4b-f61139cffd3c" config-ref="HTTP_Listener_config" path="/cars" allowedMethods="GET,POST"/>
		<choice doc:name="Choice" doc:id="70833f34-d6ab-4b19-9cc9-bb7b89941a85" >
			<when expression="#[attributes.method == 'GET']">
				<file:read doc:id="f01b9949-d472-4051-bd62-e859c8f4e9c4" config-ref="File_Config" path="examples/cars.csv" />
				<ee:transform doc:name="Json Payload" doc:id="26b47312-26be-4322-90b0-d593c1700718">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="End" doc:id="d8b63ba6-92bc-40e5-8080-d5af5d041bc7" message="Flow Ended" />
			</when>
			<when expression="#[attributes.method == 'POST']">
				<file:write doc:name="Write" doc:id="2b3edd6f-f172-4ee8-b319-f20749d327e4" config-ref="File_Config" path="examples/cars.csv" mode="APPEND">
					<file:content><![CDATA[#["\n" ++ payload]]]></file:content>
				</file:write>
				<ee:transform doc:name="Json Payload" doc:id="f00b3108-c313-4432-a100-773075184725">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Car has been added successfully."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Json Payload" doc:id="acbffaac-0127-459a-9184-efd662ed5871">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: 'OOPS!, you have entered some invalid fields.'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	
</flow>
	<flow name="getCarsByID" doc:id="e2c397cb-9e52-4dbd-b0b3-c71cae5134bf">
		<http:listener doc:name="Listener" doc:id="dd6f08e3-5183-4d1c-84a3-3f5c3c4e0569" config-ref="HTTP_Listener_config" path="/cars/{carId}" allowedMethods="GET, DELETE, PATCH"/>
		<set-variable value="#[attributes.uriParams.carId]" doc:name="Set Variable" doc:id="4f0db1b2-dfbe-4f77-9ee8-b61485eb2cd8" variableName="id" />
		<choice doc:name="Choice" doc:id="507a3349-8099-45bb-ad4b-1388302427a5" >
			<when expression='#[attributes.method == "GET"]'>
				<flow-ref doc:name="Flow Reference" doc:id="b601559c-31d7-4057-9a9b-c6466e077a8f" name="getCarsById"/>
			</when>
			<when expression='#[attributes.method == "PATCH"]'>
				<ee:transform doc:name="Variables" doc:id="9b01fca0-680a-4c4a-9991-9843018dd06f">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="dest" ><![CDATA[%dw 2.0
output application/json
---
payload.desitation]]></ee:set-variable>
						<ee:set-variable variableName="ctype" ><![CDATA[%dw 2.0
output application/json
---
payload.carType]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<file:read doc:name="Read" doc:id="2bd7028b-99de-4fab-8dc4-87f76db0cce1" config-ref="File_Config" path="examples/cars.csv"/>
				<ee:transform doc:name="Json Payload" doc:id="20dcb150-85ec-4e01-86fa-cb41bd9f7f67">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
	carId: item.carId,
	price: item.price,
	origin: item.origin,
	desitation: item.desitation,
	carType: item.carType
}) filter ((item, index) -> item.carId == vars.id )]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Variables" doc:id="7bad4eec-620e-4b69-9e44-a1e7a4b24491">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="edited" ><![CDATA[%dw 2.0
output application/csv header = false
--- 
payload map ((item, index) -> {
	carId: item.carId,
	price: item.price,
	origin: item.origin,
	desitation: vars.dest,
	carType: vars.ctype
})]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="ba61ea2a-9761-4f0f-ae6e-066a5c5cd71d" name="deleteCarsById"/>
				<file:write doc:name="Write" doc:id="ac54963f-384c-4b2d-8781-ccef16360875" config-ref="File_Config" path="examples/cars.csv" mode="APPEND">
					<file:content ><![CDATA[#[vars.edited]]]></file:content>
				</file:write>
				<set-payload value='Your destination and service type has been updated successfully.' doc:name="Json Payload" doc:id="a416f5c5-c1b2-4715-9040-b93968c9cfaa" />
			</when>
			<when expression="#[attributes.method == 'DELETE']">
				<flow-ref doc:name="Flow Reference" doc:id="aa60c474-a2de-44d7-829f-b1021dd14554" name="deleteCarsById" />
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="1f8f6ed4-2586-4193-87c6-7a1c33eecafa">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: 'OOPS!, you have entered some invalid fields.'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="getCarsById" doc:id="b48d3203-e254-4428-b093-04216a349110">
		<file:read doc:name="Read" doc:id="48856c00-e149-49f9-8930-f6f8947ba46b" config-ref="File_Config" path="examples/cars.csv" />
		<ee:transform doc:name="Json Payload" doc:id="f07e8e5e-7b78-43f8-acb3-e98256e6002d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header = false
---
payload map ((item, index) -> {
	carId: item.carId,
	price: item.price,
	origin: item.origin,
	desitation: item.desitation,
	carType: item.carType
}) filter ((item, index) -> item.carId as String == vars.id )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteCarsById" doc:id="555f6e50-e3a8-4424-a5c6-4cfa5486c40e" >
		<file:read doc:name="Read" doc:id="146600d6-106d-4871-9245-26cb24e98a58" config-ref="File_Config" path="examples/cars.csv" />
		<ee:transform doc:name="Json Payload" doc:id="86d7c0d5-683b-43ea-b3bb-26afefc5db2c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/csv 
---
payload map ((item, index) -> {
	carId: item.carId,
	price: item.price,
	origin: item.origin,
	desitation: item.desitation,
	carType: item.carType
}) filter ((item, index) -> item.carId as String != vars.id )]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<file:write doc:name="Write" doc:id="3a73de01-3155-4c33-81f7-e1b4d22e5ee9" config-ref="File_Config" path="examples/cars.csv" />
		<set-payload value="Your Car has been removed successfully." doc:name="Json Payload" doc:id="e352d0ce-efaf-46c2-86c6-b3e4a88ab254" />
	</flow>
	<flow name="getPartners" doc:id="97873076-20ed-43e8-a1bd-281e8b4d82d8" >
		<http:listener doc:name="Listener" doc:id="a49463ba-a7d6-4c5f-bb34-8b89e4a895e3" config-ref="HTTP_Listener_config" path="/partners"/>
		<choice doc:name="Choice" doc:id="3ab13405-cf17-4d1a-ac04-ac83961cd86d" >
			<when expression="#[attributes.method == 'GET']">
				<file:read doc:name="Read" doc:id="579e6a15-8ee1-4766-b053-178373eb3b87" config-ref="File_Config" path="carPartners.csv"/>
				<ee:transform doc:name="Json Payload" doc:id="670da621-63e4-43b3-90b0-138363caf7e5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = false
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="8ea35153-5467-40d9-ada6-b6830f8ad44f" message="Flow Ended"/>
			</when>
			<when expression="#[attributes.method == 'POST']">
				<file:write doc:name="Write" doc:id="c1f70529-2745-44ce-b0bf-b3f9a8275c0f" config-ref="File_Config" path="carPartners.csv" mode="APPEND">
					<file:content ><![CDATA[#['\n' ++ payload]]]></file:content>
				</file:write>
				<ee:transform doc:name="Json Payload" doc:id="83b6052b-f9df-4675-b371-a653f5f9ab4c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Partner has been added successfully."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Json Payload" doc:id="56a0db86-02ad-4f49-9289-3c456e998f19" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: 'OOPS!, you have entered some invalid fields.'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="getPartnerByID" doc:id="136ca13e-f309-4808-9797-dc0e71a2bac0" >
		<http:listener doc:name="Listener" doc:id="f621c918-0da1-462e-98a7-02acb7a5ab96" config-ref="HTTP_Listener_config" path="partners/{partnerId}"/>
		<set-variable value="#[attributes.uriParams.partnerId]" doc:name="Set Variable" doc:id="3066b41d-685a-4385-ba24-6622e8988699" variableName="pid"/>
		<choice doc:name="Choice" doc:id="502541d9-bc61-40ab-8c65-ccd0c44ba451" >
			<when expression="#[attributes.method == 'GET']">
				<flow-ref doc:name="Flow Reference" doc:id="261c06a8-ca13-4143-989d-407d3e2a9d8d" name="getPartnersById"/>
			</when>
			<when expression="#[attributes.method == 'PATCH']">
				<ee:transform doc:name="Variables" doc:id="9a119869-9ac2-49d3-8b50-020d73f917dc">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="no" ><![CDATA[payload.numberOfCars]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<file:read doc:name="Read" doc:id="815c138f-5a95-499e-b2ab-6e7e815d530c" config-ref="File_Config" path="carPartners.csv"/>
				<ee:transform doc:name="Json Payload" doc:id="e90e0a29-bb69-451f-8193-1bd28cb89169" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
	partnerId: item.partnerId,
	partnerName: item.partnerName,
	numberOfCars: item.numberOfCars
}) filter ((item, index) -> item.partnerId as String == vars.pid )]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Variables" doc:id="3653e793-944f-4c60-a122-38e787d7d6ac" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="edited" ><![CDATA[%dw 2.0
output application/csv header = false
---
payload map ((item, index) -> {
	partnerId: item.partnerId,
	partnerName: item.partnerName,
	numberOfCars: vars.no
}) filter ((item, index) -> item.partnerId as String == vars.pid )]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Flow Reference" doc:id="2f3edfcd-5930-4c8e-baa1-fa4ce875f2ca" name="deletePartnersById"/>
				<file:write doc:name="Write" doc:id="f1e60912-359d-4014-9e9f-86c7d7465746" config-ref="File_Config" path="carPartners.csv" mode="APPEND">
					<file:content ><![CDATA[#[vars.edited]]]></file:content>
				</file:write>
				<set-payload value="Your car numbers has been updated successfully." doc:name="Json Payload" doc:id="1c2e42ca-d0dd-48e4-ada5-477f8771690c" />
			</when>
			<when expression="#[attributes.method == 'DELETE']">
				<flow-ref doc:name="Flow Reference" doc:id="acf4c724-6a79-48f2-9279-537410e6aacb" name="deletePartnersById"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Json Payload" doc:id="fffdb544-eb95-44d1-8c47-e5fe811b86a2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: 'OOPS!, you have entered some invalid fields.'
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="getPartnersById" doc:id="8350c647-44b6-4c88-9083-83d25e591bb0" >
		<file:read doc:name="Read" doc:id="cbf64487-43b6-4c5d-ba71-05f17904dd52" config-ref="File_Config" path="carPartners.csv"/>
		<ee:transform doc:name="Json Payload" doc:id="2c690dc8-5f68-4e85-9746-aee49540f08f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = false
---
payload map ((item, index) -> {
	partnerId: item.partnerId,
	partnerName: item.partnerName,
	numberOfCars: item.numberOfCars
}) filter ((item, index) -> item.partnerId as String == vars.pid )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deletePartnersById" doc:id="d65ee9ab-4d56-422d-9927-bf4768e4979b" >
		<file:read doc:name="Read" doc:id="66f5ebb9-aa01-4e33-a96f-65f96621114b" config-ref="File_Config" path="carPartners.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="712ada78-3d91-472b-8b55-d7dfdc77bdb2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv 
---
payload map ((item, index) -> {
	partnerId: item.partnerId,
	partnerName: item.partnerName,
	numberOfCars: item.numberOfCars
}) filter ((item, index) -> item.partnerId != vars.pid )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="76880a9b-e013-4b73-ab19-b34816c6f694" config-ref="File_Config" path="carPartners.csv"/>
		<set-payload value="Your Partner has been removed successfully." doc:name="JsonPayload" doc:id="5ce8ed96-140e-448a-924f-20a040edc68d" />
	</flow>

</mule>
